.box-set {
    background: white;
}

.box {
    /*clear:both;*/
    border: 2px solid black;
    background: #4aaaa5;
    position: relative;
}

.box-Hangman {
    border: 1px solid lightgray;
    top: 10px;
    bottom: 10px;
}

.box-RPG {
    border: 1px solid lightgray;
    top: 10px;
    right: 10px;
    float: right;
}

.box-Trivia {
    border: 1px solid lightgray;
    top: 10px;
}

.box-Widget {
    border: 1px solid lightgray;
    bottom: 10px;
}

.box-Sheldon {
    border: 1 px solid lightgray;
    bottom: -20px;
    left: 10px;
}