/** {
    margin: 2px;
    z-index: -1;
}*/

body {
    margin: 5px;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, Helvetica Neue sans-serif;
    /*border: 2px solid black;*/
    max-width: 100%;
    background-image: url("background1.gif");
    /*background: whitesmoke;*/
    color: gray; 
}

header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: #000000;
    margin: 0;
}

h1 {
    color:#ffffff;
    background: #4aaaa5;
    width: 300px;
    float: left;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-left: 150px;
    margin-top: 5px;
    /*border-bottom: 2px solid #cccccc;*/
    border: 2px solid red;
}

nav {
    color: gray;
    list-style-type: none;
    /*border: 2px solid yellow;*/
    width: 300px;
    float:right;
    list-style-type:none;
    font-size: 11px;
    margin-top: 24px;
    margin-bottom: 0;
}

li {
    display: inline;
}

h2 {
    text-shadow: 1px 1px black;
}

.Main {
    clear:both;
    margin: 196px;
    /*border: 2px solid black;*/
    background: #ffffff;
}

img {
    margin: 5px;
    float:left;
}

h2 {
    clear: both;
    color: #4aaaa5;
}
.container {
    border: 2px solid black;
    clear: both;
    background-color: #ffffff;
}

.box-set {
    position: relative;
    height: 690px;
    background: white;
    text-align: center;
}

.box {
    clear:both;
    border: 2px solid black;
    background: #4aaaa5;
    height: 200px;
    width: 200px;
    position: absolute;
    margin-bottom: 75px;
}

.box-1 {
    border: 1px solid lightgray;
    top: 15%;
    left: 15%;
}

.box-2 {
    border: 1px solid lightgray;
    top: 15%;
    right: 15%;
}

.box-3 {
    border: 1px solid lightgray;
    top: 45%;
    left: 15%;
}

.box-4 {
    border: 1px solid lightgray;
    top: 45%;
    right: 15%;
}

.box-5 {
    border: 1 px solid lightgray;
    top: 75%;
    left: 15%;

}

.response {
    border: 1px solid lightgray;
}

.button {
    background: #4aaaa5;
    color:white;
    padding: 10px;
}

.sticky{
    position: sticky;
}

footer {
    clear:both;
    border-top: 4px solid #4aaaa5;
    text-align: center;
    background: rgb(143, 143, 143);
    margin: 20px 0 2px 0;
    padding: 20px 0 5px;
    color: #cccccc;
}