/** {
    margin: 2px;
    z-index: -1;
}*/

body {
    margin: 5px;
    padding: o;
    font-size: 18px;
    font-family: Arial, Helvetica, Helvetica Neue sans-serif;
    /*border-bottom: 2px solid black;*/
    max-width: 100%;
    background-image: url("background1.gif");
    /*background: whitesmoke;*/
    color: gray; 
}

header {
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid black;
    padding: 50px;
}

h1 {
    color:#ffffff;
    background: #4aaaa5;
    width: 300px;
    float: left;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-left: 150px;
    margin-top: 5px;
    /*border-bottom: 2px solid #cccccc;*/
}

nav {
    color: gray;
    list-style-type: none;
    /*border: 2px solid yellow;*/
    width: 300px;
    float:right;
    list-style-type:none;
    font-size: 11px;
    margin-top: -45px;
}

li {
    display: inline;
}

h2 {
    text-shadow: 1px 1px black;
}

.Main {
    clear:both;
    margin-top: 50px;
    margin-right: 175px;
    margin-left: 175px;
    /*border-top: 2px solid black;*/
    background: #ffffff;
    /*padding: 25px;*/
}

a:hover {
    font-weight: bold;
    color: red;
}

a:visited {
    color: green;
}

a:active {
    color: greenyellow;
    background: black;
    transition: 0.5s;
}

img {
    margin: 5px;
    float:left;
}

h2 {
    clear: both;
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container {
    /*border: 2px solid black;*/
    clear: both;
    background-color: #ffffff;
    margin-bottom: 350px;
    margin-left: 250px;
    padding: 15px;
    line-height: 1;
}

.box-set {
    height: 960px;
    background: white;
    text-align: center;
}

.box {
    border: 2px solid lightgray;
    /*background: #4aaaa5;*/
    color: red;
    float: left;;
}

.box-1 {
    border: 1px solid lightgray;
    margin: 20px 20px 20px 100px;
    height: 200px;
    width: 200px;
    background-image: url(assets/images/portfolioplaceholder1.jpg);
}

.box-2 {
    border: 1px solid lightgray;
    margin: 20px 180px 20px 20px;
    height: 200px;
    width: 200px
}

.box-3 {
    border: 1px solid lightgray;
    margin: 20px 20px 20px 100px;
    height: 200px;
    width: 200px
}

.box-4 {
    border: 1px solid lightgray;
    margin: 20px 180px 20px 20px;
    height: 200px;
    width: 200px
}

.box-5 {
    border: 1 px solid lightgray;
    margin: 20px 20px 20px 100px;
    height: 200px;
    width: 200px
}

.response {
    border: 1px solid  darkgray;
    color: lightgray;
}

.button {
    background: #4aaaa5;
    color:white;
    padding: 10px;
}

.sticky{
    position: sticky;
}

footer {
    clear:both;
    border-top: 4px solid #4aaaa5;
    text-align: center;
    background: rgb(143, 143, 143);
    margin: 20px 0 2px 0;
    padding: 20px 0 5px;
    color: #cccccc;
}